{% extends "_base.html" %}

{% block conteudo %}
<h1>jogos_excluir dos guri</h1>

<h3>Você está excluindo o jogo "{{ jogo.nome }}"</h3>
<br>
Vc tem ctz? Mesmo? Tipo, vai excluir legal o bglh, vai tirar do banco tudo ali tlg? Meio que pra sempre se vc n lembrar oq tinha ali sabe
<div>
    <form action="jogos_excluir.php" method="post">
        <input type="hidden" name="id" value="{{ jogo.id }}">
        <input type="submit" value="apaga legal">
    </form>
    <a href="jogos.php">nah to de boa </a>
</div>

{% endblock %}