{% extends "_base.html" %}

{% block conteudo %}
<h1>jogos_editar dos guri</h1>

{% if erro  %}
<p>{{ erro }}</p>
{% endif %}

<h4>Você está editando o jogo "{{ jogo.nome }}"</h4>

<form action="jogos_editar.php" method="post" enctype="multipart/form-data">
    nome :<input type="text" name="nome" placeholder="Insira nome" value="{{ jogo.nome }}">
    <br>
    estilo :<select name="estilo">
        <option value="acao">Ação</option>
        <option value="tiro">Tiro</option>
        <option value="rpg">RPG</option>
    </select>
    <br>
    capa: <input type="file" name="capa" value="{{ jogo.capa }}">
    <br>
    data de lançamento :<input type="date" name="lancamento" placeholder="insira data" value="{{ jogo.lancamento}}">
    <br>
    <input type="hidden" name="id" value="{{ jogo.id }}">
    <input type="submit" value="gravar">
</form>
    <a href="jogos.php">nah to de boa </a>
{% endblock %}